= form_for @user_profile, :url => user_profile_path(@user) do |f|
  - if @user_profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_profile.errors.count, "error")} prohibited this user_profile from being saved:"
      %ul
        - @user_profile.errors.full_messages.each do |msg|
          %li= msg

    -# = f.hidden_field :user_id
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :middle_names
    = f.text_field :middle_names
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :date_of_birth
    = f.datetime_select :date_of_birth
  .field
    = f.label :email_address
    = f.text_field :email_address
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :landline_phone
    = f.text_field :landline_phone
  .field
    = f.label :mobile_phone
    = f.text_field :mobile_phone
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :education
    = f.text_area :education
  .div#jobs
    = f.fields_for :jobs, @jobs do |job|
      .field
        = job.label :employer
        = job.text_field :employer
      .field
        = job.label :address
        = job.text_field :address
      .field
        = job.label :start_date
        = job.datetime_select :start_date
      .field
        = job.label :end_date
        = job.datetime_select :end_date
      .field
        = job.label :title
        = job.text_field :title
      .field
        = job.label :employer_description
        = job.text_field :employer_description
      .field
        = job.label :description
        = job.text_area :description






  .field
    = f.label :work_history
    = f.text_area :work_history
  .field
    = f.label :personal
    = f.text_area :personal
  .actions
    = f.submit 'Save'
