.container.col-md-8.col-md-offset-2.wrapper{'ng-controller' => 'EditCtrl'}
  %header.row
    %h1#title{'wl-editable' => ''}
      = t(:home)[:title]
    %h2#address{'wl-editable' => ''}
      = t(:home)[:address]
    %section#contact-details{'wl-editable' => ''}
      = t(:home)[:contact_details]
  %section.row.content-section
    %section#summary
      %h1 Summary
      %p#summary{'wl-editable' => ''}
        = t(:home)[:summary]
      %section#career-objective
        %h2 Career Objective
        %p#career-objective{'wl-editable' => ''}
          = t(:home)[:career_objectives]
      %section#key-skills
        %h2 Key Skills
        %ul
          - t(:home)[:key_skills].each do |skill|
            %li{'wl-editable' => ''}
              = skill
  %section.row#job-history.content-section
    %h1
      Employment History
    - t(:home)[:employment_history].each do |job|
      %section.job
        %h2.employer{'wl-editable' => ''}
          = job['employer']
        %h4.employer-address{'wl-editable' => ''}
          = job['address']
        %span.job-start-date{'wl-editable' => ''}
          = job['start_date']
        %span.job-end-date{'wl-editable' => ''}
          = job['end_date']
        %h3.job-title{'wl-editable' => ''}
          = job['title']
        %p.employer-description{'wl-editable' => ''}
          = job['employer_description']
        %p.job-description{'wl-editable' => ''}
          = job['job_description']
        %ul.job-skills{'wl-editable' => ''}
          - job['skills'].each do |skill|
            %li
              = skill

  %secion.row#education-history.content-section
    %h1 Education History
    %section.education
      - t(:home)[:qualifications].each do |qual|
        %h3.qualification{'wl-editable' => ''}
          = qual['title']
        %span.grade{'wl-editable' => ''}
          = qual['grade']
        %span.institute{'wl-editable' => ''}
          = qual['institute']

  %section.row#skills.content-section
    %h1 Skills
    %section.skill
      %h3 Jedi Skills
      %dl
        %dt{'wl-editable' => ''}
          Force powers
        %dd{'wl-editable' => ''}
          Telekenisis
          Psychic manipulation
          Mytichlorian Regeneration
        %dt{'wl-editable' => ''}
          Weopon skills
        %dd{'wl-editable' => ''}
          Light Sabre grade 3

  %section.row#interests.content-section
    %h1 Interests
    %dl
      %dt{'wl-editable' => ''}
        Force powers
      %dd{'wl-editable' => ''}
        Telekenisis
        Psychic manipulation
        Mytichlorian Regeneration
      %dt{'wl-editable' => ''}
        Weopon skills
      %dd{'wl-editable' => ''}
        Light Sabre grade 3
