.container
  .cv.row
    .col-lg-12.col-md-8.wrapper
      %header.row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %h1#title.h1
            = @worklist.title
          %h2#address.h2
            = @worklist.address
          %section#contact-details
            = @worklist.email

      <!-- SUMMARY -->

      %section#summary.row.content-section
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .row
            .col-lg-12.col-md-12.col-sm-12.left
              %h1 Summary
              %p#summary-input.p
                = @worklist.summary
          .row
            .col-lg-8.col-md-8.col-sm-8.col-xs-12.left
              %section#career-objective
                %h2 Career Objective
                %p#career-objective.p
                  = @worklist.career_objectives
            .col-lg-4.col-md-4.col-sm-4.col-xs-12.left
              %section#key-skills
                %h2 Key Skills
                %ul
                  - @worklist.skills.order(:display_order).each do |skill|
                    %li
                      = skill.title
                      = skill.description

      %section#job-history.row.content-section
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %h1 Employment History
          - @worklist.jobs.order(:display_order).each do |job|
            %section.job
              -# .row
              -#   .col-lg-12.col-md-12.col-sm-12.col-xs-12
              -#     %h3 Employers Details
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      %h2.employer
                        = job.employer
                      %p.employer-address.italic
                        = job.address
                      %span.job-start-date
                        = job.start_date.try(:to_date)
                        \-
                      %span.job-end-date
                        = job.end_date.try(:to_date) || 'Current'
                      %p.employer-description
                        = job.employer_description
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  %h2.italic
                    Job Description
                  .row
                    .col-lg-8.col-md-8.col-sm-8.col-xs-12.left
                      %h2.job-title
                        = job.title
                      %p.job-description
                        = job.description
                    .col-lg-4.col-md-4.col-sm-4.col-xs-12.left
                      %h2.italic Skills Used/Aquired
                      %ul.job-skills
                        - job.skills.order(:display_order).each do |skill|
                          %li
                            = skill.title
                            = skill.description

                .col-lg-6.col-md-6.col-sm-6.col-xs-12.left
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  %h2.italic Experience Gained
                  %div.job-experiences
                    - job.experiences.order(:display_order).each do |experience|
                      %h3
                        = experience.heading
                      %p
                        = experience.content

      %section#education-history.row.content-section
        .col-lg-12.col-md-12.col-sm-12.col-xs.12
          %h1 Education History
          %div
            - @worklist.qualifications.order(:display_order).each do |education|
              %section.education
                %h3.qualification
                  = education.title
                  %span.grade
                    \: #{ education.grade }
                %span.institute
                  = education.institute
      %section#skills.row.content-section
      %section#interests.row.content-section

