.container.col-md-8.col-md-offset-2.wrapper
  .cv
    %header.row
      %h1#title.h1
        = @worklist.title
      %h2#address.h2
        = @worklist.address
      %section#contact-details
        = @worklist.email
    %section#summary.content-section
      %h1 Summary
      %p#summary-input.p
        = @worklist.summary
      %section#career-objective
        %h2 Career Objective
        %p#career-objective.p
          = @worklist.career_objectives
      %section#key-skills
        %h2 Key Skills
        %ul
          - @worklist.skills.each do |skill|
            %li
              %p
                = skill.title
              %p
                = skill.description
    %section#job-history.content-section
      %h1 Employment History
      %div
        - @worklist.jobs.each do |job|
          %section.job
            %h2.employer
              = job.employer
            %h4.employer-address
              = job.address
            %span.job-start-date
              = job.start_date.try(:to_date)
            %span.job-end-date
              = job.end_date.try(:to_date)
            %h3.job-title
              = job.title
            %p.employer-description
              = job.employer_description
            %p.job-description
              = job.description
            %ul.job-skills
              - job.skills.each do |skill|
                %li
                  %p
                    = skill.title
    %section#education-history.row.content-section
      %h1 Education History
      %div
        - @worklist.qualifications.each do |education|
          %section.education
            %h3.qualification
              = education.title
            %span.grade
              = education.grade
            %span.institute
              = education.institute
    %section#skills.row.content-section
    %section#interests.row.content-section
