<!DOCTYPE html>
<html ng-app='worklist'>
<head>
  <title>Worklist</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <script>
     <%= yield :injectables %>
  </script>
</head>
<body>
<%= yield %>
</body>
</html>